<app-header></app-header>

<div class="answerForm" *ngIf="currentRoundNumber==1">
  <h1>ROUND 1</h1>
  <div class="submitAnswer">
    <input class="input" placeholder="ANSWER 1" #ans1>
    <div class="button submitButton" (click)="submitAns(ans1.value,1)" *ngIf = '!userAnswers["a1"]' >SUBMIT</div>
    <div class="button correctButton" *ngIf = 'userAnswers["a1"]'>CORRECT</div>
    <br>
    <br>
    <br>
  </div>
  <div class="submitAnswer">
    <input class="input" placeholder="ANSWER 2" #ans2>
    <div class="button submitButton" (click)="submitAns(ans2.value,2)" *ngIf = '!userAnswers["a2"]' >SUBMIT</div>
    <div class="button correctButton" *ngIf = 'userAnswers["a2"]'>CORRECT</div>
    <br>
    <br>
    <br>
  </div>
  <div class="submitAnswer">
    <input class="input" placeholder="ANSWER 3" #ans3>
    <div class="button submitButton" (click)="submitAns(ans3.value,3)" *ngIf = '!userAnswers["a3"]' >SUBMIT</div>
    <div class="button correctButton" *ngIf = 'userAnswers["a3"]'>CORRECT</div>
    <br>
    <br>
    <br>
  </div>
  <div class="wrongAnswerAlert" *ngIf="wrongAnswer">
      Wrong Answer
  </div>
</div>

<div class="answerForm" *ngIf="currentRoundNumber==2">
  <h1>ROUND 2</h1>
  <br>
  <h2>Question 1</h2>
  <a href="./../../assets/code/q1.c" download>
    <div class="button downloadButton">Download Code</div>
  </a>
  <br>
  <br>
  <br>
  <h2>Question 2</h2>
  <a href="./../../assets/code/q2.c" download>
    <div class="button downloadButton">Download Code</div>
  </a>
  <br>
  <br>
  <br>
  <h2>Question 3</h2>
  <a href="./../../assets/code/q3.c" download>
    <div class="button downloadButton">Download Code</div>
  </a>

</div>
<div class="answerForm" *ngIf="currentRoundNumber==3">
  <h1>ROUND 3</h1>
  <br>
  <h2>Question 1</h2>
  <p>Given an array A[n], arrange the array in such a way as to maximise the sum [(a1-a2)+(a3-a4)+(a5-a6)+.....(an-1 - an)]</p>
  <br>
  <br>
  <h2>Question 2</h2>
  
  <br>
  <br>
</div>

