td,tr,th{
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    margin: 0;
}
.container{
    padding: 50px;
}
.button{
    margin-right: 10px;
}
.completedParticipant{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    width: 100%;
    margin: 10px 0;
    padding:  0 20px;
    display: inline-block;
}
.completedParticipant h2,p{
    display: inline-block;
}
.table{
    font-size: 150%;
}
.roundNo{
    padding: 20px;
    background: #992315;
    color: white;
    text-align: center;
}
.questionList{
    margin: 50px;
    flex: 1;
}
.questionListContainer{
    display: flex;
    width: 100%;
}